<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="mssqlconn" value="Data Source=172.25.31.201,1490;Initial Catalog=CreditCardRealtimeDB;User ID=creditcard_usr;Password=(St*rl1ng)" /><!-- put new credit card db details here-->
    <!--<add key="FileToRead" value="./SampleFile/new_th" /> put credit card file location here-->
	<add key="FileToRead" value="E:/scheduledJobs/FIMICreditCardDetailsJob/SampleFIle/CardFile.txt" /><!-- put credit card file location here  F:/Genfiles/CardList -->
    <add key="BaseUrl" value=""/>

    <!--<add key="mssqlconn" value="Data Source=10.0.41.101;Initial Catalog=TechBizInsight;User ID=sa;Password=tylent;MultipleActiveResultSets=true;"/>-->
    <!--<add key="ATMconn" value="data source=10.0.41.101;initial catalog=postilion_office;User ID=sa;Password=tylent;MultipleActiveResultSets=true;"/>-->
  </appSettings>
</configuration>